{% block sidebar %}

<style>
        .card{
            box-shadow: 0 16px 48px #E3E7EB;
        }

</style>

<!-- Sidebar Widgets Column -->
<div class="col-md-4 float-right ">
<div class="card my-4">
        <h5 class="card-header">About Us</h5>
    <div class="card-body">
             <p class="card-text"> The best way to explore or to ameliorate yourself is to connect with the best environment,But if you are searching for that environment then u can't find it indeed it is not even exist but you can create it. That's what the semblance of my
                perception looks like : "Do not search for the best but make the things best by yourself" </p> 
        
    </div>
</div>
</div>

{% endblock sidebar %}
